@import "tailwindcss";

@theme inline {
  --font-lexend: "Lexend", sans-serif;
  --color-primary-green: #22631b;
  --color-primary-yellow: #f8c70c;
  --color-light-silver: #d8d7d7;
  --color-anti-flash-white: #f3f3f3;
  --color-philippine-silver: #b1b3b5;
  --animate-marquee: marquee 20s linear infinite;
  --text-32: 32px;
  --radius-40: 40px;
}

body {
  font-family: "Lexend", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
