@import "tailwindcss";

@theme inline {
  --font-lexend: "Lexend", sans-serif;
  --color-primary-green: #22631b;
  --color-primary-yellow: #f8c70c;
  --color-light-silver: #d8d7d7;
}

body {
  font-family: "Lexend", sans-serif;
}
