@import "tailwindcss";

@theme inline {
  --font-lexend: "Lexend", sans-serif;
  --color-primary-green: #22631b;
  --color-primary-yellow: #f8c70c;
  --color-light-silver: #d8d7d7;
  --color-anti-flash-white: #f3f3f3;
  --color-philippine-silver: #b1b3b5;
  --text-32: 32px;
  --radius-40: 40px;
}

body {
  font-family: "Lexend", sans-serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
